.welcome-area.hero5
    .container.h-100
        .row.h-100.align-items-center.justify-content-between
            // Welcome Content
            .col-12.col-sm-10.col-md-6
                .welcome-content
                    h6.wow.fadeInUp.text-white(data-wow-duration="1s" data-wow-delay="200ms") Hey &#9995;, I'm your digital business partner!
                    h2.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="400ms") Let's start a new project with
                        span  me
                    p.mb-4.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="600ms") It's crafted with the latest trend of design &amp; coded with all modern approaches.

                    .hero-btn-group.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="800ms")
                        a.btn.btn-warning.mt-3.me-3.rounded-pill(href="#") Let's get started <i class="ms-2 bi bi-arrow-right"></i>

            // Welcome Thumb
            .col-12.col-sm-9.col-md-6
                .welcome-thumb.mx-auto(style="background-image: url('./img/bg-img/17.jpg');")
                    span.badge.first-badge.text-bg-dark I am Sarah Clock
                    span.badge.second-badge.text-bg-warning.shadow
                        i.bi.bi-star
                        i.bi.bi-star
                        i.bi.bi-star

        // Big Letters
        .big-letters.d-flex
            span.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="200ms") Content
            span.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="500ms") Marketing
            span.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="800ms") SEO Solution